@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  background-color: #f9f9f9;
}

.active {
  @apply text-[#ea3030];
}

.active#central {
  @apply bg-[#ea3030] text-white;
}

/* Spinning */
#spin {
  animation: spinning 1s linear infinite;
}

@keyframes spinning {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}
